################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/QrSorterInspectionApp/.vs
/QrSorterInspectionApp/bin
/QrSorterInspectionApp/obj
/OPHISTORYLOG
/Publish
/QrSorterSimulatorApp/bin/Debug
/QrSorterSimulatorApp/obj/Debug
